// out: ./style.css, compress: true, sourceMap: false
@import "normalize", "rem", "font", "color", "mixin", "slick";



/* basic */
$min-width: 320px;
$img-url: "../images";
$screen-size-pc : 1200px;

.pagenation {
    display:inline-block;
    text-align:center;
    @include zero;

    margin: rem(20px 0 30px);
    width: 100%;

    a {
        background: white;
    }

    a,
    strong {
        display:inline-block;
        vertical-align:top;
        font: rem(10px)/rem(22px); // font-size/line-height
        color: #555;
        border: 1px solid #e2e2e2;
        width: rem(22px);
        height: rem(22px);
        margin: rem(0 1px);

        @media only screen and ($screen-size-pc) {
            font: 14px/32px; // font-size/line-height
            width: 32px;
            height: 32px;
            margin: 0 2px;
        }

        &.jump,
        &.move {
            @include zero;

            i {
                font-size: rem(10px);
                
                @media only screen and ($screen-size-pc) {
                    font-size: 14px;
                }

            }
        }

        &.jump {
            width:auto;
            background:#efefef;
            padding: rem(0 10px);

            i {
                &::before {
                    @include pmz(0,0);
                    width:auto;
                }
            }
        }
    }

    .active,
    strong {
        background: $color-main;
        color: white;
        font-weight:normal;
        border-color: transparent;
    }
}

* {
    @include box-sizing;
    outline:none;
}

input,
select,
textarea {
    @include border-radius(0);
/*
    @media all and (max-width: 1199px) {
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
*/
}


a {
    text-decoration: none;
    color: $text-link-color;
    outline:none;
}
/*font*/
html {
    min-width: $min-width;
    max-width: 100%;
    font-size: 2vw;
    min-height: 100%;
}



body {
    font-family: $myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;
    color: $text-color;

}

.sr-only {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position:static;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}


/* style */

body {

    img#background {
        display:none;
    }

    .container {
        @include container(100%);
        text-align:left;
        vertical-align:top;
        padding:0;

        @media only screen and ($screen-size-pc) {
            @include container($screen-size-pc);
            padding: 0;
        }
    }

    /* header */
    header {
        position:fixed;
        z-index:100;
        left:0;
        right:0;
        top:0;
        color:#fff;
        background:rgba(0,0,0,0.8);
        height:4vw;
        @include ani(0.6s);

        &.sub {
            top:-10vw;
            opacity:0;
        }

        div.weather {
            position:absolute;
            left:1vw;
            top:0;

            p.icon {
                position:absolute;
                left:0;
                top:0.5vw;
                text-align:center;
                margin:0;
                width:6.7vw;
                height:6.7vw;
                font-size:4.5vw;
                background:#000;
                border-radius:50%;

                i {
                    position:absolute;
                    top:3.4vw;
                    left:3.4vw;

                    margin:-2.4vw 0 0 -2.4vw;

                    &.bx-sun {
                        color:#FFC500;
                    }
                }
            }

            p.text {
                position:absolute;
                white-space:nowrap;
                left:8vw;
                top:0;
                line-height:4vw;
                margin:0;
                width:20vw;
                font-size:1.8vw;
                @include txt(bolder);
            }
        }

        div.news-ticker {
            position:absolute;
            overflow:hidden;
            right:0px;
            top:0;
            line-height:4vw;
            margin:0;
            width:calc(100vw - 30vw);
            font-size:1.6vw;

        }
    }

    div#content {

        /* SUB */
        &.main {
            &::before {
                content:"";
                position:absolute;
                z-index:-1;
                left:0;
                right:0;
                top:0;
                bottom:0;
                @include ani(0.6s);
                background:rgba(0,0,0,0);
            }

            div.navigation {
                position:absolute;
                left:1.4vw;
                top:1vw;
                opacity:0;
                font-size:1.8vw;
                color:#fff;
                font-weight:lighter;
                @include ani(0.6s);

                strong {
                    font-size:2vw;
                    color:#FFC500;
                }
            }
            div.pop {
                position:absolute;
                overflow:hidden;
                z-index:600;
                left:50%;
                top:5vw;
                width:76vw;
                height:0;
                background:#fff;
                margin-left:-36VW;
                opacity:0;
                @include ani(0.6s);

                &.open {
                    opacity:1;
                    height:38VW;
                    z-index:700;
                    overflow-y:scroll;
                }

                &.content-category05 {
                    background:url("../images/list-bg.svg") center / cover;
                }

                &.content-category06 {
                    left:0;
                    right:0;
                    margin:0;
                    width:auto;
                    height:auto;
                    bottom:0;
                }

                h2 {
                    font-size:2.2vw;
                    margin:0;
                    padding:2vw 2vw 1.4vw;
                    font-weight:800;
                }

                ul.book-list {
                    list-style:none;
                    margin:0;
                    padding:1vw;
                    font-size:0;

                    li {
                        margin:0 1vw;
                        display:inline-block;
                        width:calc((100% - 12vw) / 6);

                        p {
                            height:13vw;
                            margin:0;
                            @include drop-shadow($x:0,$y: 0.6vw, $blur: 0.4vw, $spread: 0, $alpha: 0.25);

                            img {
                                display:none;
                            }
                        }
                        h3 {
                            text-align:center;
                            font-size:1.2vw;
                            height:3vw;
                            overflow:hidden;
                            margin:0.8vw 0 1vw;
                        }
                    }
                }
            }




            button.close {
                display:none;
                position:absolute;
                z-index:999;
                right:0;
                margin-left:40VW;
                top:5VW;
                width:10VW;
                font-size:1.6vw;
                font-weight:bold;
                color:#fff;
                background:#000;
                border:none;
                padding:1vw 2vw 1vw 1vw;

                i {
                    font-size:2vw;
                    position:absolute;
                    top:0.8vw;
                }
            }

            &.sub {
                &::before {
                    background:rgba(0,0,0,0.6)
                }
                div.navigation {
                    top:1.4vw;
                    opacity:1;
                }
                button.close {
                    display:block;
                }
                
            }
        }


    }

    nav#menu {
        position:fixed;
        left:0;
        right:0;
        bottom:0;
        text-align:center;
        font-size:0;
        z-index:800;

        &::before {
            content:"";
            display:block;
            position:absolute;
            left:0;
            right:0;
            bottom:0;
            width:100%;
            height:8vw;
            background:rgba(0,0,0,0.7);
            @include ani(0.6s);

            @include drop-shadow($x:0,$y: -1vw, $blur: 1vw, $spread: 1vw, $alpha: 0.6);
        }
            
        button.btn1 {
            padding:0;
            margin:0;
            position:absolute;
            font-size:4.8vw;
            bottom:0.8vw;
            left:50%;
            border:none;
            background:none;
            color:#fff;
            outline:none;
            -webkit-tap-highlight-color: transparent;
            @include ani(0.6s);
            

            &.depth1-prev {
                margin-left:-40vw;
            }

            &.depth1-next {
                margin-left:35vw;
            }

            &.slick-disabled {
                opacity:0.1;
            }
        }

        &>div.depth1 {
            display:inline-block;
            overflow:hidden;
            width:71vw;


            div.item {
                position:relative;
                display:inline-block;
                width:11vw !important;
                height:13.4vw;
                margin-right:1vw;
                @include ani(0.6s);

                a {
                    position:absolute;
                    left:0;
                    right:0;
                    height:13.4vw;
                    bottom:0;
                    display:block;
                    font-size:1.6vw;
                    color:#fff;
                    @include ani(0.6s);

                    &.category01 {
                        background:rgba(33,84,120,1);
                    }
    
                    &.category02 {
                        background:rgba(33,157,167,1);
                    }
    
                    &.category03 {
                        background:rgba(186,66,43,1);
                    }
    
                    &.category04 {
                        background:rgba(0,48,88,1);
                    }
    
                    &.category05 {
                        background:rgba(127,50,135,1);
                    }
    
                    &.category06 {
                        background:rgba(135,93,50,1);
                    }

                    i {
                        display:block;
                        font-size:4vw;
                        margin:2vw 0 1.6vw;
                    }

                    span {
                        display:block;
                    }
    

                }




            }
        }

        div.depth2-outline {
            display:inline-block;
            position:absolute;
            bottom:-10vw;
            height:4vw;
            line-height:4vw;
            left:0;
            right:0;
            padding:0 3vw;
            vertical-align:bottom;
            opacity:0;
            @include ani(0.6s);

            &.on {
                bottom:5vw;
                opacity:1;
            }

            &::before {
                content:"";
                display:block;
                position:absolute;
                left:0;
                top:0;
                bottom:0;
                width:3vw;
                background:rgba(0,0,0,0.2);
            }

            &::after {
                content:"";
                display:block;
                position:absolute;
                right:0;
                top:0;
                bottom:0;
                width:3vw;
                background:rgba(0,0,0,0.2);
            }
    
    
            &.category03 {
                background:#BA422B;
            }
    
    
            &.category04 {
                background:#003058;
            }
            &.category05 {
                background:#7f3287;
            }

            div.depth {
    
                div.item {
                    display:inline-block;
    
                    a {
                        display:block;
                        position:relative;
                        line-height:4vw;
                        font-size:1.7vw;
                        color:#fff;
                        opacity:0.6;
                        text-align:center;
                        width:20vw;

                        &.on {
                            font-size:1.8vw;
                            font-weight:bold;
                            opacity:1 !important;
                        }
                        

                        
                        &::before {
                            content:"";
                            display:block;
                            position:absolute;
                            left:0;
                            top:1.2vw;
                            width:2px;
                            height:1.6vw;
                            background:#fff;
                        }
                        
                        &::after {
                            content:"";
                            display:block;
                            position:absolute;
                            right:0;
                            top:1.2vw;
                            width:2px;
                            height:1.6vw;
                            background:#000;
                        }
                    }
                }
            }
    
            
            button.btn2 {
                padding:0;
                margin:0;
                position:absolute;
                z-index:10;
                font-size:3vw;
                height:4vw;
                bottom:0px;
                border:none;
                background:none;
                color:#fff;
                outline:none;
                -webkit-tap-highlight-color: transparent;
                @include ani(0.6s);
                
                i {
                    position:relative;
                    top:0.4vw;
                }
    
                &.prev {
                    left:0;
                }
    
                &.next {
                    right:0;
                }
    
                &.slick-disabled {
                    opacity:0.1;
                }
                
            }

        }

        div.depth3-outline {
            display:inline-block;
            position:absolute;
            bottom:-10vw;

            height:4vw;
            line-height:4vw;
            left:0;
            right:0;
            padding:0 3vw;
            vertical-align:bottom;
            opacity:0;
            background:#202020;
            @include ani(0.6s);

            &.on {
                bottom:8.8vw;
                opacity:1;
            }

            &::before {
                content:"";
                display:block;
                position:absolute;
                left:0;
                top:0;
                bottom:0;
                width:3vw;
                background:rgba(0,0,0,0.2);
            }

            &::after {
                content:"";
                display:block;
                position:absolute;
                right:0;
                top:0;
                bottom:0;
                width:3vw;
                background:rgba(0,0,0,0.2);
            }

            div.depth {

                &::before {
                    content:"";
                    display:block;
                    position:absolute;
                    bottom:-1vw;
                    left:9.5vw;
                    width:0;
                    height:0;
                    border:1vw solid transparent;
                    border-top-color:#202020;
                }
    
                div.item {
                    display:inline-block;
    
                    a {
                        display:block;
                        position:relative;
                        line-height:4vw;
                        font-size:1.6vw;
                        color:#fff;
                        opacity:0.6;
                        text-align:center;
                        width:20vw;

                        &.on {
                            font-size:1.7vw;
                            font-weight:bold;
                            opacity:1 !important;
                        }
                        
                        &::before {
                            content:"";
                            display:block;
                            position:absolute;
                            left:0;
                            top:1.2vw;
                            width:2px;
                            height:1.6vw;
                            background:#fff;
                        }
                        
                        &::after {
                            content:"";
                            display:block;
                            position:absolute;
                            right:0;
                            top:1.2vw;
                            width:2px;
                            height:1.6vw;
                            background:#000;
                        }
                    }
                }
            }
    
            
            button.btn2 {
                padding:0;
                margin:0;
                position:absolute;
                z-index:10;
                font-size:3vw;
                height:4vw;
                bottom:0px;
                border:none;
                background:none;
                color:#fff;
                outline:none;
                -webkit-tap-highlight-color: transparent;
                @include ani(0.6s);
                
                i {
                    position:relative;
                    top:0.4vw;
                }
    
                &.prev {
                    left:0;
                }
    
                &.next {
                    right:0;
                }
    
                &.slick-disabled {
                    opacity:0.1;
                }
                
            }





            &.category0302 {
                div.depth {
                    
                &::before {

                    left:29.5vw;
                    }
                }
            }

        }




        &.on {

            &::before {
                bottom:-3vw;
            }    

            &>button {
                bottom:-0.4vw;
            }

            div.depth1 {
                div.item {

                    a {
                        font-size:1vw;
                        font-weight:normal;
                        height:5vw;

                        &.category01 {
                            background:rgba(33,84,120,0);
                            
                            &.on {
                                background:rgba(33,84,120,1);
                            }
                        }
        
                        &.category02 {
                            background:rgba(33,157,167,0);
                            
                            &.on {
                                background:rgba(33,157,167,1);
                            }
                        }
        
                        &.category03 {
                            background:rgba(186,66,43,0);
                            
                            &.on {
                                background:rgba(186,66,43,1);
                            }
                        }
        
                        &.category04 {
                            background:rgba(0,48,88,0);
                            
                            &.on {
                                background:rgba(0,48,88,1);
                            }
                        }
        
                        &.category05 {
                            background:rgba(127,50,135,0);
                            
                            &.on {
                                background:rgba(127,50,135,1);
                            }
                        }
        
                        &.category06 {
                            background:rgba(135,93,50,0);
                            
                            &.on {
                                background:rgba(135,93,50,1);
                            }
                        }





                        span {
                            display:inline-block;
                        }

                        i {
                            display:block;
                            font-size:2.4vw;
                            margin:0.6vw 0 0.4vw;
                            opacity:0.4;
                        }

                        &.on {
                            i {
                                opacity:1;
                            }
                        }
                    }
                }
            }
        }
    }
}
